@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: black) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.landing-page-h2 {
  font-size: 2.25rem/* 36px */;
  line-height: 2.5rem/* 40px */;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.5rem/* 40px */;
}

.landing-Footer-h2 {
  font-size: 1.125 rem/* 18px */;
  line-height: 1.75 rem/* 28px */;
  font-weight: 600;
  margin-bottom: 0.5rem/* 8px */;
  text-decoration: underline;

}

.tooltip {
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: rgb(154, 154, 154);
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 50;
  bottom: 0px;
  left: 105%;

  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}